body {
  box-sizing: border-box;
  width: 800px;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
  background-color: #555;
  color: #555;
}

.container {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
}

.container::after {
  clear: both;
}

.illustration {
  width: 45%;
  margin: 20px;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.descr {
  float: none;
  margin: 20px;
}

.index {
  display: inline;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  vertical-align: top;
}

.location {
  width: 100%;
  margin-top: 0.1em;
  font-weight: bold;
}

.concept {
  text-align: justify;
}

.author-list {
  padding: 0;
  padding-inline-start: 0;
}

.author {
  list-style-type: none;
  font-style: italic;
  margin-top: 0.2em;
}

a {
  position: relative;
  text-decoration: none;
  color: #555;
}

a:visited {
  color: #555;
}

.audio-link {
  width: 1.7em;
  height: 1.7em;
  opacity: 0.666;
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
    margin: 0;
    border-width: 0;
  }
}
